@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
    display: inline-block;
    width: 100%;
    margin: 0;
    --slide-height: 0rem;
    --slide-spacing: 0rem;
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 100%;
    padding-left: var(--slide-spacing);
}
